[phases.setup]
nixPkgs = ["nodejs_20"]

[phases.install]
cmds = [
  "corepack enable",
  "corepack prepare pnpm@latest --activate",
  "pnpm install"
]

[phases.build]
cmds = ["pnpm --filter @pulze/bot build"]

[start]
cmd = "node apps/bot/dist/app.js"
